body {
  font-family: "Chivo Mono", monospace;
  font-weight: 800;
  margin: 0;
  padding: 0;
  background-color: #f1faee;
  overflow-x: hidden;
}
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #f1faee;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
}

#title {
  font-size: 20px;
  margin: 0 20px;
}

.login {
  font-size: 20px;
  margin: 0 20px;
}
.hambuger {
  width: 50px;
  height: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.strip {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 3px auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #ccd5ae;
  width: 100%;
}
#footer {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #000814;
  border-radius: 15px;
  cursor: pointer;
  color: #ffff;
}
.add {
  width: 30px;
  height: 30px;
}
.add-book {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(150px, auto);
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  align-content: flex-start;
}
#cards__container {
  display: none;
}
.card {
  margin: 1.4rem auto;
  width: 300px;
  height: 200px;
  color: #eee;
  background-color: #ffffff;
  border-radius: 8px;
  line-height: 1.5;
  font-size: 0.85em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card-content {
  padding: 16px;
}

.book-title {
  font-size: 24px;
  margin: 0 0 8px;
  color: #000;
}

.author,
.pages {
  font-size: 16px;
  color: #000;
  margin: 0 0 16px;
}
.btn:hover {
  background-color: #e5e5e5;
  color: #000;
  font-weight: 800;
}

.btn__submit {
  background-color: #ced4da;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 15px;
  color: #000;
  line-height: 1.5;
  font-size: 1.2rem;
  margin-top: 0.56rem;
}
.btn__submit:hover {
  cursor: pointer;
  background-color: #a8dadc;
  color: #000;
  font-weight: bold;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin: 20px auto;
}

.rotate {
  text-decoration: none;
  height: 24px;
  width: 24px;
}

.rotate:hover {
  animation: rotate 1s linear;
}

@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }
}

/* Styling the form */
.form__container {
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 1.2rem;
  /* border: 2px solid red; */
  padding: 0.85rem;
}
.form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form > div {
  width: 80%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edede9;
  padding: 1.5rem;
  border-radius: 50px;
}
.form_input {
  width: 60%;
  height: 1.5rem;
  margin: 0.3rem auto;
  border-radius: 10px;
}
.form > div > span {
  padding: 0.58rem auto;
}
/* mobile resposiveness */
@media screen and (max-width: 768px) {
  #container-wrapper {
    width: 99.5%;
    height: auto;
    overflow-x: hidden;
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    margin: 1rem auto;
  }
  .form__container {
    width: 92%;
    height: auto;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form div {
    width: 80%;
    height: 200px;
    line-height: 1.5rem;
  }
  .form_input {
    width: 80%;
    height: 1.5rem;
    padding: 1px auto;
  }
  .form div h1 {
    font-size: 14px;
  }
  .login {
    display: none;
  }
  .hambuger {
    display: flex;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #000;
  }
  .form div span {
    display: flex;
    font-size: 0.85rem;
  }
  footer h5 {
    text-align: center;
  }
}
/* media query for medium screens */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #container-wrapper {
    width: 1024px;
    overflow-x: hidden;
  }
  #header {
    width: 100%;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .form__container {
    border: 1px solid rebeccapurple;
    width: 100%;
  }
  .form {
    width: 80%;
  }
}
