body {
  font-family: "Chivo Mono", monospace;
  font-weight: 800;
  margin: 0;
  padding: 0;
  background-color: #f1faee;
}
#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #a8dadc;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

#title {
  font-size: 20px;
  margin: 0 20px;
}

.login {
  font-size: 20px;
  margin: 0 20px;
}



footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #a8dadc;
  width: 100%;
}
#footer {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #457b9d;
  border-radius: 15px;
  cursor: pointer;
  color: #ffff;
}
.add {
  width: 30px;
  height: 30px;
}
.add-book {
  width: 100%;
  height: 100px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.wrapper {
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(150px, auto);
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
  align-content: flex-start;
}
#cards__container {
  display: none;
}
.card {
  margin: 1.4rem auto;
  width: 400px;
  height: 200px;
  color: #eee;
  background-color: #457b9d;
  border: 1px solid red;
  border-radius: 10px;
  line-height: 1.5;
  font-size: .85em;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  background-color: #219ebc;
  color: #ffff;
  font-weight: 800;
}

.btn__submit {
  background-color: #4cc9f0;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  color: #ffff;
  line-height: 1.5;
  font-size: 1rem;
}
.btn__submit:hover {
  cursor: pointer;
  background-color: #219ebc;
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin: 20px auto;
}

.rotate {
  text-decoration: none;
  height: 24px;
  width: 24px;
}

.rotate:hover {
  animation: rotate 1s linear;
}

@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }
}

/* <main class="parent-container">
    <div id="wrapper">
      <div class="box">
        <ul id="book__details">
          <li class="books">
            <span class="book_info">Title:</span>
            <span class="book_info">Author's Name:</span>
            <span class="book_info">Pages:</span>
            <span class="book_info">have you read?:</span>
          </li>
        </ul>
      </div>
      <div class="box">
        <ul id="book__details">
          <li class="books">
            <span class="book_info">Title:</span>
            <span class="book_info">Author's Name:</span>
            <span class="book_info">Pages:</span>
            <span class="book_info">have you read?:</span>
          </li>
        </ul>
      </div>
      <div class="box">
        <ul id="book__details">
          <li class="books">
            <span class="book_info">Title:</span>
            <span class="book_info">Author's Name:</span>
            <span class="book_info">Pages:</span>
            <span class="book_info">have you read?:</span>
          </li>
        </ul>
      </div>
      <div class="box">
        <ul id="book__details">
          <li class="books">
            <span class="book_info">Title:</span>
            <span class="book_info">Author's Name:</span>
            <span class="book_info">Pages:</span>
            <span class="book_info">have you read?:</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="section__1">
      
    </div>
    <div class="section2__hidden">
      <div class="container">
        <form class="form">
          <h2>Welcome, Please add your books</h2>
          <input
            type="text"
            class="inputs"
            id="book"
            name="book"
            placeholder="Enter Book Title"
            required
          />
          <input
            type="text"
            class="inputs"
            id="name"
            name="author"
            placeholder="Enter Author Name"
            required
          />
          <input
            type="number"
            class="inputs"
            id="pages"
            name=""
            placeholder="Enter the number of pages"
            required
          />
          <label
            >Have you read it?
            <input type="checkbox" id="confirm" class="mycheckbox" />
            <span id="checkboxLabel">No</span>
          </label>
          <button class="btn__submit" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </main> */