body {
  font-family: "Chivo Mono", monospace;
  font-weight: 800;
  margin: 0;
  padding: 0;
  background-color: #8ecae6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: #a2d2ff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#title {
  font-size: 20px;
  margin: 0 20px;
}

.login {
  font-size: 20px;
  margin: 0 20px;
}
.section__1 {
  border: 1px solid red;
}
.section__2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 400px;
}
.section2__hidden {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 85%;
  height: 100px;
  /* margin: 2rem; */
  /* padding: 0 0.5rem; */
  border: 1px solid rebeccapurple;
  opacity: 0;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* top: 550px; */
  height: 100px;
  background-color: #023047;
  width: 100%;
}
#footer {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #023047;
  border-radius: 15px;
  cursor: pointer;
  color: #ffff;
}

.btn:hover {
  background-color: #219ebc;
  color: #ffff;
}

.btn__submit {
  background-color: #4cc9f0;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  color: #ffff;
  line-height: 1.5;
  font-size: 1rem;
}
.btn__submit:hover {
  cursor: pointer;
  background-color: #219ebc;
  color: #fff;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  background-color: #023047;
  border-radius: 50px;
  color: #ffff;
  /* transition: all 0.5s ease-out; */
}
.container.hidden {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin: 20px auto;
}

.rotate {
  text-decoration: none;
  height: 24px;
  width: 24px;
}

.rotate:hover {
  animation: rotate 1s linear;
}

@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }
}

/* style the form input */
#book,
#name,
#pages {
  width: 60%;
  height: 20px;
  border: none;
  padding: 5px 10px;
  border-radius: 50px;
}

#save,
#data {
  width: 120px;
  height: 30px;
  font-size: 18px;
  background-color: #6366f1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

#save:hover {
  color: #ffff;
}

#data:hover {
  color: #ffff;
}

.add {
  width: 24px;
  height: 24px;
}

.container {
  margin-top: 20px;
  width: 80%;
  height: fit-content;
  display: block;
  border: 1px solid red;
  /* opacity: 0; */
}
.inputs {
  width: 50%;
  height: 1.5rem;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: #caf0f8;
}
/* styling the books container */
#wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 20px;
  /* justify-content: space-between; */
  /* border: 2px solid cyan; */
  /* height: 100vh; */
  margin-bottom: 1.5rem;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d946ef;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 18rem;
  height: 13rem;
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
  /* border: 2px solid green; */
}
.box:hover {
  cursor: pointer;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.2);
}
#book__details {
  list-style-type: none;
  width: 80%;
  /* border: 1px solid yellow; */
  height: 13rem;
}
.books {
  display: flex;
  flex-direction: column;
}
.books .book_info {
  margin-top: 1.2rem;
}
